<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>

<br>
  <div>
    <!-- collection_select(:lift, :user, Lift.all, :id, :lift_name) -->
    <%= f.collection_select :lift_id, Lift.all, :id, :lift_name %>
  </div>
<br>
  <div class="field">
    <%= f.label :lift_weight %><br>
    <%= f.number_field :lift_weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>