<li id="micropost-<%= record.id %>">
  <%= link_to gravatar_for(record.user, size: 50), record.user %>
  <span class="user"><%= link_to record.user.name, record.user %></span>
  <span class="lift_weight"><%= record.lift_weight %> lbs of <%= record.lift_id %></span>
  <span><%= @dummy %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(record.created_at) %> ago.
    <% if current_user?(record.user) %>
    	<%= link_to "delete", record, method: :delete,
    																data: { confirm: "You sure?" } %>
		<% end %>
  </span> 
</li>