
Lift Name: <%= @record.lift.lift_name %> <br>
Lift Weight: <%= @record.lift_weight %> <br>
Video Validation: <a href="<%= @record.video_link %>">click</a> <br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
			<!-- 16:9 aspect ratio -->
			<div class=""
			<div class="embed-responsive embed-responsive-16by9">
			  <iframe class="embed-responsive-item" 
			  src=<%= @record.video_link %>>
				</iframe>
			</div>
		</div>
	</div>
</div>


<%= number_to_percentage(@record.score, precision: 0) %> <br>

<%= link_to like_record_path(@record), method: :put do %>
	<span class="glyphicon glyphicon-thumbs-up"></span>
<% end %>
<%= @record.get_upvotes.size %>

<%= link_to dislike_record_path(@record), method: :put do %>
	<span class="glyphicon glyphicon-thumbs-down"></span>
<% end %>
<%= @record.get_downvotes.size %>



<%= render partial: "comments/comments", locals: {commentable: @record} %>
<%= render partial: "comments/form", locals: {commentable: @record} %>